PORT=4000
CORS_ORIGIN=http://localhost:5173
SESSION_SECRET=change-me-please
GOOGLE_CLIENT_ID=y207033840761-63engpnd1kihn0u0qtv633b3di5vcttc.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
OAUTH_REDIRECT_URL=http://localhost:4000/auth/google/callback